<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>  <%= biaoti %></h1>
    <p>时间： <%= shijian %> 作者：<%= zuozhe %></p>
    <p><%= neirong %></p>

</div>

</body>
</html>