<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    </style>
</head>
<body>
<a href="/addbook">[增加图书]</a>
<table>
    <tr>
        <td>图书</td>
        <td>作者</td>
        <td>价格</td>
        <td>操作</td>
    </tr>
    <% for(var i = 0; i<tushu.length;i++ ){%>
    <tr>
        <td><%=tushu[i].name%> </td>
        <td><%=tushu[i].author%> </td>
        <td><%=tushu[i].price%> </td>
        <td><a href="/edit?id=<%=tushu[i]._id%>">修改</a></td>
    </tr>
    <%}%>
</table>

</body>
</html>